*{
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
}

.ton-app{
    border:8px solid black;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ton-logo{
    width:50px;
    height: 50px;
    margin-top: 6px;
}
.list-group{
    width:50%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2rem;
    padding-right:2rem;
    height: 15vh;
    background-color: white;
    width:100%;
}
.head-list-item{
    font-weight:700 ;
}

.ton-content{
    width:98%;
}
.ton-icons{
    justify-self: flex-start;
}

.ton-card1{
    width:100%;
    height:65vh;
    background-size: cover;
    padding:0;
    margin: 0;
    background-position: center;
}
.ton-card2{
    width:100%;
    min-height:100%;
    background-size: cover;
    background-position: center;
    height:70vh;
    padding:20px;
}
.ton-card3{
    width:100%;
    height:40vh;
    background-size: cover;
    background-position: center;
    padding:10px;
    border:2px solid red;
    display: flex;
    justify-content: center;
}
.ton-card4{
    width:100%;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding:20px;

}
.ton-card5{
    width:100%;
    background-size: cover;
    background-position: center;
    height: 25vh;
    padding:20px;
}


.data-img{
    width:90%;
    height:100%;
}
.poster-img{
    background-size: cover ;
    border-radius:3%;
    padding:10px;
}
